@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    font-family: "Righteous";
    font-size: 20px;
    margin: 0;
}

body {
    // background-color: #1C1C1A;
    // border: 2px solid black;
    background-color:#A0D9EF;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100fr;
    max-height: 100vh;
    max-width: 100vw;
}

    h1 {
        font-size: 20px;
        text-align: center;
        color: whitesmoke;
        // border: 2px solid black; 
    }
    
    main {
        display:grid;
        // border: 2px solid black;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    
        h2, h3, h4, h5 {
            font-size: 40px;
        }
    
        .inputs {
            // border: 2px solid black;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 40px;
            align-items: center;
            color: #E89020;
        }

        #keys {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 5fr;
            // border: 2px solid black;

            .misc {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                #ac, #backspace, #equal {
                    width: 50%;
                }
            }

            #otherkeys {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows: 1fr;

                .functions {
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-template-columns: 1fr;
                }

                .numbers {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                }
            }
        }
    }

   button {
    background-color: #343C5B;
    background-color: #ffbcd9;
    border-radius:11px;
    border-style:double;
    color: #0D638F;
    font-size: 35px;
    // border-color: #343C5B;
    border-color: #BF8EA3;

   }

   #equal {
        border-radius: 30px;
        // background-color:#DDDB48 ;
        background-color: #BDFFBF;
        color: #0D638F;
   }
   
   // add views for larger screen sizes

@media screen and (min-width:400px) {
    h1 {
        font-size: 25px;
    }

    h2, h3, h4, h5 {
        font-size: 45px;
    }
}

@media screen and (min-width:600px) {
    h1 {
        font-size: 30px;
    }

    button {
        font-size: 45px;
    }

    h2, h3, h4, h5 {
        font-size: 50px;
    }
}

@media screen and (min-width:800px) {
    h1 {
        font-size: 35px;
    }

    button {
        font-size: 50px;
    }

    h2, h3, h4, h5 {
        font-size: 55px;
    }
}

@media screen and (min-width:1000px) {
    h1 {
        font-size: 40px;
    }

    button {
        font-size: 55px;
    }

    h2, h3, h4, h5 {
        font-size: 60px;
    }
}

@media screen and (min-width:1500px) {
    h1 {
        font-size: 45px;
    }

    button {
        font-size: 60px;
    }
}
