@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    font-family: "Righteous";
    font-size: 20px;
    margin: 0;
}

body {
    background-color: #1C1C1A;
    // border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 17.09fr;
    max-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
}

    h1 {
        font-size: 50px;
        text-align: center;
        color: whitesmoke;
        // border: 2px solid black; 
    }
    
    main {
        display:grid;
        // border: 2px solid black;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    
        h2, h3, h4, h5 {
            font-size: 60px;
        }
    
        .inputs {
            // border: 2px solid black;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 40px;
            align-items: center;
            color: orange;
        }

        #keys {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 5fr;

            .misc {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                #ac, #backspace, #equal {
                    width: 50%;
                }
            }

            #otherkeys {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows: 1fr;

                .functions {
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-template-columns: 1fr;
                }

                .numbers {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                }
            }
        }
    }

   button {
    background-color: #343C5B;
    border-radius:11px;
    color: whitesmoke;
    font-size: 50px;
    border-color: #343C5B;
   }

   #equal {
        border-radius: 30px;
        background-color:#DDDB48 ;
   }
   
   // add views for larger screen sizes