* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
}

body {
    // background-color: black;
    // border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 17.09fr;
}

    h1 {
        font-size: 35px;
        text-align: center;
        // border: 2px solid black; 
    }
    
    main {
        display:grid;
        // border: 2px solid black;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
    
        h2, h3, h4, h5 {
            font-size: 50px;
        }
    
        .inputs {
            // border: 2px solid black;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 40px;
            padding-top: 15%;
            padding-bottom:15%;
        }

        #keys {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 5fr;

            .misc {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                #ac, #backspace, #equal {
                    width: 50%;
                }
            }

            #otherkeys {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows: 1fr;

                .functions {
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-template-columns: 1fr;
                }

                .numbers {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                }
            }
        }
    }

   